.p-1 {
    background-color: #ff6f61; /* Color de fondo personalizado */
    border-color: #ff6f61; /* Color del borde personalizado */
}

.p-1:hover {
    background-color: #e04b3f; /* Cambia el color de fondo al pasar el cursor */
    border-color: #e04b3f; /* Cambia el color del borde al pasar el cursor */
}
